<html>
<head>
</head>
<body>
<form action='/newuser' method='post' id='f'>
	<table>
		<tr>
			<td>
				<span>
					<strong>username</strong>
				</span>
			</td>
			<td>
				<input id='username' type='text' name='uname'/>
			</td>
		</tr>
		<tr>
			<td>
				<span>
					<strong>password</strong>
				</span>
			</td>
			<td>
				<input id='pin' type='password' name='password'/>
			</td>
		</tr>

		<tr>
			<td>
				<span>
					<strong>email</strong>
				</span>
			</td>
			<td>
				<input id='email' type='text' name='email'/>
			</td>
		</tr>
	</table>
</form>

<button type='submit' form='f'>Submit</button>

</body>
</html>
