<% include top %>

<form action="/upload" enctype="multipart/form-data" method="post">
	<p>
		Upload your resume:<br>
			<input type="file" name="datafile" size="40">
	</p>
	<div>
		<input type="submit" value="Send">
	</div>
</form>

<% include bottom %>